@font-face {
  font-family: 'Nacional-Extended';
  src: url('/Nacional-Extended.woff2') format('woff2'),
       url('/Nacional-Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nacional-Extended', sans-serif;
} 